.content .my-container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .my-container .border-line{
    border: 2px solid var(--main-color);
    border-radius: 10px;
    padding: 0 30px;
}

.content .my-container h3 {
    padding: 20px 0;
    color: var(--main-color);
    text-align: center;
}

.content .my-container .content-title, 
.content .my-container .content-lesson,
.content .my-container .content-file {
    display: flex;
    flex-direction: column;
    padding-bottom:10px;
}

.content .my-container .content-file {
    padding-top:20px;
}

.content .my-container .content-title .label-title,
.content .my-container .content-lesson .label-content {
    text-align: center;
    padding-bottom: 5px;
    color: #777;
}

input[type="text"] {
    background-color:rebeccapurple;
}

.content .my-container .buttons {
    padding: 40px 0 30px;
    display: flex;
    flex-direction: column;
}

.content .my-container .buttons .save {
    margin-bottom: 20px;
    border: 1px solid transparent;
    font-size: 18px;
    border-radius: 10px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
}

.content .my-container .buttons .course {
    border: 1px solid transparent;
    font-size: 18px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: white;
    color: var(--main-color);
    font-weight: bold;
}
