@* @page "/Aboutus" *@

<div class="about">
    <div class="my-container">
        <div class="right-img">
            <img src="Images/assets/boy-labtop.jpg" alt="Boy With Labtop" />
        </div>
        <div class="left-text">
            <h5>مـعـلـومـات عـنـا</h5>
            <h1>أرخص الدورات التدريبية عبر الإنترنت للجميع</h1>
            <p>من افضل المصنات التي تقدم خدمة رائعة وموثوقة مع تكلفة قليلة ، ويمكن الاستفادة باقصى درجة ممكنة</p>
            <h4>
                <i class="fa-solid fa-check"></i>
                من أفضل الأساتذة الموجودة في الساحة التعليمية
            </h4>
            <h4>
                <i class="fa-solid fa-check"></i>
                الكورسات مصممة بطريقة تدريس مناسبة للطلبة
            </h4>
            <h4>
                <i class="fa-solid fa-check"></i>
                أكثر من ألف تلميذ يستفيد من الكورسات الخاصة بنا
            </h4>
            <a href="/" class="home btn">اذهب إلى الكورسات</a>
        </div>
    </div>
</div>