<PageTitle>خـطـأ</PageTitle>

<div class="error">
    <div class="my-container">
        <h1>عـــفـــوًا</h1>
        <h3>يــوجــد خــطــأ مــا</h3>
        <p>جرب مرة أخرى لاحقًا</p>
        <a href="/" class="home btn">العودة إلى الصفحة الرئيسية</a>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <a class="create btn btn-primary" href="CreateGrade">اضـف صـف جـديـد</a>
            </Authorized>
        </AuthorizeView>
    </div>
</div>