<div class="landing">
    <div class="container">
        <div class="landing-text">
            <h4>مرحبا بك في المنصة</h4>
            <h1>اعمل على تطوير مهاراتك ومعرفتك من خلال الكورسات الخاصة بنا</h1>
            <p>المنصة رقم واحد في الشرق الأوسط</p>
            <div class="landing-btns">
                <a href="" class="start">ابدأ تعليمك</a>
                <a href="" class="try">
                    جرب البعض
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            </div>
        </div>
        <div class="landing-images">
            <div class="right-img"> 
                <img src="/images/assets/student-horizontal.jpg" alt=""/>
                <div src="" alt=""></div>
            </div>
            <div class="left-img">
                <img src="/images/assets/student-vertical.jpg" alt="" />
            </div>
        </div>
    </div>
</div>