@page "/404"

<PageTitle>خـطـأ</PageTitle>

<div class="error">
    <div class="my-container">
        <h1 message="صفحة خطأ">404</h1>
        <h3>لـم يـتـم الـعـثـور عـلـى الـصـفـحـة</h3>
        <p>جرب مرة أخرى</p>
        <a href="/" class="home btn">العودة إلى الصفحة الرئيسية</a>
    </div>
</div>