@page "/500"

<PageTitle>خـطـأ</PageTitle>

<div class="error">
    <div class="my-container">
        <h1 message="صفحة خطأ">500</h1>
        <h3>لـقـد حـدث خـطـأ مـا</h3>
        <p>جرب مرة أخرى</p>
        <a href="/" class="home btn">العودة إلى الصفحة الرئيسية</a>
    </div>
</div>