@page "/Subscribe"

<PageTitle>اشترك</PageTitle>

<div class="error">
    <div class="my-container">
        <h1 message="خدمة مدفوعة">اشترك الآن</h1>
        <h3>يمكنك الاشتراك بسهولة وتوفير</h3>
        <p>والعودة مرة أخرى</p>
        <a href="/" class="home btn">العودة إلى صفحة الاشتراك</a>
    </div>
</div>