@page "/Unauthorized"

<PageTitle>خـطـأ</PageTitle>

<div class="error">
    <div class="my-container">
        <h1 message="صفحة خطأ">401</h1>
        <h3>غـيـر مـصـرح بـه</h3>
        <p>جرب مرة أخرى</p>
        <a href="/" class="home btn">العودة إلى الصفحة الرئيسية</a>
    </div>
</div>