@page "/ChangePassword/{UserId}"

@attribute [Authorize]

<PageTitle>تـغـيـيـر كـلـمـة الـمـرور</PageTitle>

<TopMenu></TopMenu>

@if (ErrorMessages != "")
{
    <ErrorMessageComponent></ErrorMessageComponent>
}
else{
<div class="change-password">
    <div class="my-container">
            <EditForm Model="ChangePasswordModel" OnValidSubmit="SaveChanges">
            <DataAnnotationsValidator />

            <h2>تـغـيـيـر كـلـمـة الـمـرور الـخـاصـة بـك :</h2>

            <div class="current-password">
                <label for="CurrentPassword" class="label-current">كلمة المرور الحالية</label>
                <ValidationMessage For="@(() => ChangePasswordModel.OldPassword)" />
                <InputText class="input-current" id="CurrentPassword" @bind-Value="ChangePasswordModel.OldPassword"></InputText>
            </div>

            <div class="new-password">
                <label for="NewPassword" class="label-new">كلمة المرور الجديدة</label>
                <ValidationMessage For="@(() => ChangePasswordModel.NewPassword)" />
                <InputText type="password" id="NewPassword" class="input-new" @bind-Value="ChangePasswordModel.NewPassword"></InputText>
            </div>

            <div class="confirm-password">
                <label for="ConfirmPassword" class="label-confirm">تأكيد كلمة المرور</label>
                <ValidationMessage For="@(() => ChangePasswordModel.ConfirmNewPassword)" />
                <InputText type="password" id="ConfirmPassword" class="input-confirm" @bind-Value="ChangePasswordModel.ConfirmNewPassword"></InputText>
            </div>

            <button type="submit" class="sign-in btn">تـغـيـيـر</button>

            @if (ChangePasswordErrors == true)
            {
                <div class="error-message" role="alert">
                    <h5> كلمة المرور غير صحيحة</h5>
                </div>
            }

            <a href="/" class="home btn">العودة إلى الصفحة الرئيسية</a>
        </EditForm>
    </div>
</div>
}

<style>
    input:not([type=checkbox]) {
        direction: ltr;
    }
</style>