.forgot-password {
    height: calc(100vh - 75px);
    display: flex;
}

.forgot-password .my-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.forgot-password .my-container h2 {
    margin-bottom: 30px;
    font-weight: bold;
    color: var(--main-color);
}

.forgot-password .my-container .email {
    margin-bottom:20px;
}

.forgot-password .my-container .email .label-email {
    margin-bottom:5px;
    color: #777;
}

.forgot-password .my-container .send-message{
    text-align: center;
    margin: 20px auto;
}

.forgot-password .my-container .sign-in {
    margin-bottom: 20px;
    border: 1px solid transparent;
    font-size: 18px;
    border-radius: 10px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    width: 100%;
}


.forgot-password .my-container .error-message h5 {
    font-size: 16px;
    text-align: center;
    color: #777;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.forgot-password .my-container .home {
    border: 1px solid transparent;
    font-size: 18px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: var(--main-color-alt);
    color: var(--main-color);
    font-weight: bold;
    width: 100%;
}
