@page "/ForgotPassword"

<PageTitle>تـغـيـيـر كـلـمـة الـمـرور</PageTitle>

<TopMenu></TopMenu>

@if (ErrorMessages != "")
{
    <ErrorMessageComponent></ErrorMessageComponent>
}
else
{
    <div class="forgot-password">
        <div class="my-container">
            <EditForm Model="ForgetPasswordModel" OnValidSubmit="Send">
                <DataAnnotationsValidator />

                <h2>هـل نـسـيـت كـلـمـة الـمـرور الـخـاصـة بـك؟</h2>

                <div class="email">
                    <label for="Email" class="label-email">البريد الالكتروني الخاص بك</label>
                    <ValidationMessage For="@(() => ForgetPasswordModel.Email)" />
                    <InputText class="input-current" id="Email" @bind-Value="ForgetPasswordModel.Email"></InputText>
                </div>
           
                 <h4 class="send-message">@SendMessage</h4>

                <button type="submit" class="sign-in btn" >ارســال</button>

                <a href="/Login" class="home btn">العودة إلى تـسـجـيـل الـدخـول</a>
            </EditForm>
        </div>
    </div>
}

<style>
    input:not([type=checkbox]) {
        direction: ltr;
    }
</style>