@page "/ResetPassword"

<PageTitle>كـلـمـة مـرور جـديـدة</PageTitle>

<TopMenu></TopMenu>

@if (ErrorMessages != "")
{
    <ErrorMessageComponent></ErrorMessageComponent>
}
else
{
    <div class="reset-password">
        <div class="my-container">
            <EditForm Model="ResetPasswordModel" OnValidSubmit="Reset">
                <DataAnnotationsValidator />

                <h2>كـلـمـة مـرور جـديـدة</h2>

                <div class="new-password">
                    <label for="NewPassword" class="label-new">كلمة المرور الجديدة</label>
                    <ValidationMessage For="@(() => ResetPasswordModel.Password)" />
                    <InputText type="password" id="NewPassword" class="input-new" @bind-Value="ResetPasswordModel.Password"></InputText>
                </div>

                <div class="confirm-password">
                    <label for="ConfirmPassword" class="label-confirm">تأكيد كلمة المرور</label>
                    <ValidationMessage For="@(() => ResetPasswordModel.ConfirmNewPassword)" />
                    <InputText type="password" id="ConfirmPassword" class="input-confirm" @bind-Value="ResetPasswordModel.ConfirmNewPassword"></InputText>
                </div>

                <button type="submit" class="sign-in btn">تـغـيـيـر</button>
            </EditForm>
        </div>
    </div>
}

<style>
    input:not([type=checkbox]) {
        direction: ltr;
    }
</style>