.reset-password {
    height: calc(100vh - 75px);
    display: flex;
}

.reset-password .my-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.reset-password .my-container h2 {
    margin-bottom: 30px;
    font-weight: bold;
    color: var(--main-color);
}

.reset-password .my-container .new-password ,
.reset-password .my-container .confirm-password {
    margin-bottom:20px;
}

.reset-password .my-container .new-password .label-new,
.reset-password .my-container .confirm-password .label-confirm {
    margin-bottom:5px;
    color: #777;
}

.reset-password .my-container .sign-in {
    margin-bottom: 20px;
    border: 1px solid transparent;
    font-size: 18px;
    border-radius: 10px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    width: 100%;
}


.reset-password .my-container .error-message h5 {
    font-size: 16px;
    text-align: center;
    color: #777;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}


